ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover {background-color: rgb(179, 172, 172);}
  
  ul.topnav li a.active {background-color: #4CAF50;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 700px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }