.thread{
    float :left;
    margin-left:100px;
}
.company{
    float:left;
    margin-left:100px;

}
.links{
    float:left;
    margin-left:100px
}
.contact{
    float :left;
    margin-left:100px;
}
.website{
    float:left;
    margin-left:100px;
}