@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  box-sizing: border-box;
  background-color: #eee;
  font-family: "Comfortaa", sans-serif;
}

/* ----------------------------
          HEADER
----------------------------*/
.masthead {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0px 0px 0px 40px;
  min-height: 30px;
  background-color: #fff;
  color: #a1b4ba;
  border-bottom: #ddd 1px solid;
}

.site-branding {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

.site-branding:hover {
  color: #5184f3;
}

.fa-bandcamp {
  margin: 0 6px 2px 0;
  font-size: 2rem;
  color: #5184f3;
  transition: all 0.3s ease-in-out;
}

.fa-bandcamp:hover {
  transform: scale(1.2);
}

/* Navigation */
.nav-container {
  display: flex;
  list-style: none;
}

.nav-item {
  box-sizing: border-box;
}

.nav-container a {
  color: #a1b4ba;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 0.8rem;
  padding: 7px 15px;
  /* border-radius: 6px; */
  /* border-top-left-radius: 0px; */
  /* border-bottom: 2px transparent solid; */
  /* border-right: 2px transparent solid; */
  transition: all 0.3s ease-in-out;
}

.nav-container a:hover,
.nav-container a:hover {
  /* background-color: #a1b4ba; */
  color: #5184f3;
  /* border-bottom: 2px #5184f3 solid; */
  font-weight: 700;
  /* border-bottom: 2px #a1b4ba solid; */
  /* border-right: 2px #a1b4ba solid; */
}

/* ----------------------------
      JOB LIST CONTAINER
----------------------------*/
.job-list-container {
  padding: 30px 10vw;
  margin: 0 auto;
}

.job-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.job-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  color: #5184f3;
  border-radius: 8px;
  padding: 0;
  text-align: left;
  height: 100%;
  min-width: 80%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.job-item:not(first-child) {
  margin-top: 20px;
}

.job-item:hover {
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.job-item .job-branding {
  display: flex;
  justify-content: stretch;
  max-width: 100%;
  max-height: 110px;
}

.job-branding .job-branding-logo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-basis: 1;
  width: 20%;
  height: auto;
  opacity: 0.9;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: transparent;
  border-top-right-radius: 8px;
}
.job-branding .job-branding-logo img {
  width: 90%;
  height: auto;
  opacity: 0.9;
  padding-top: 0.5rem;
  /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
  background-color: transparent;
  border-top-right-radius: 8px;
}

.job-branding .job-item-image {
  flex-basis: 4;
  width: 100%;
  height: auto;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  border-bottom-right-radius: 8px;
}

.job-branding .job-item-image img {
  /* flex-basis: 4; */
  /* max-width: 0%; */
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.job-item-info {
  padding: 20px 40px 0px 20px;
}

.job-item-image {
  width: 20%;
}

.job-item-image img {
  padding: 0;
  margin: 0;
  height: 100%;
}

.job-item .job-title {
  font-size: 1.3rem;
  line-height: 0.7rem;
  color: #274fa5;
}

.job-item .job-company {
  font-size: 0.9rem;
  color: rgba(2, 33, 66, 0.5);
}

.job-item .job-description {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  color: rgba(1, 39, 80, 0.8);
  line-height: 1.4rem;
}

.job-item .job-date {
  font-family: "Raleway", sans-seriaf;
  font-size: 0.7rem;
  color: rgba(136, 136, 136, 0.5);
  line-height: 1.4rem;
  border-bottom: 1px solid #d9dadc;
  padding-bottom: 10px;
  margin: 0;
}

.job-links {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.job-links a {
  padding: 15px 0;
  text-decoration: none;
  color: #274fa5;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.job-links a {
  padding: 15px 0;
  text-decoration: none;
  color: #274fa5;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* .job-links .job-read-more {
  background-color: #1db954;
}

.job-links .job-read-more:hover {
  background-color: #1ed760;
} */
